:root {
  --white: white;
  --black: black;
  --systemflow-lite--neutral--80: #636b75;
  --systemflow-lite--neutral--100: #0e0f11;
  --systemflow-lite--primary--60: #2f54eb;
  --systemflow-lite--neutral--10-2: white;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.w-layout-layout {
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  grid-auto-columns: 1fr;
  justify-content: center;
  padding: 20px;
}

.w-layout-cell {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 38px;
  font-weight: bold;
  line-height: 44px;
}

.utility-page-wrap {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  display: flex;
}

.utility-page-content {
  text-align: center;
  flex-direction: column;
  width: 260px;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.section {
  margin: 10px 15px;
  display: block;
}

.body {
  border-radius: 9px;
}

.card {
  grid-column-gap: 123px;
  background-color: #fdfaee;
  border-radius: 8px;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  max-width: 265.305px;
  margin-left: 0;
  padding: 7px 10px;
  text-decoration: none;
  display: flex;
}

.card.backcolor {
  background-color: #eefcfe;
}

.cardtitle {
  color: #323842;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 15px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-decoration: none;
}

.cardnumber {
  color: #f7a072;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  text-decoration: none;
}

.carddetail {
  grid-column-gap: 3px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 3px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: center;
  padding: 6px 8px;
  text-decoration: none;
  display: flex;
}

.viewdetail {
  color: #0e9ba8;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
}

.chevron-right-large {
  grid-column-gap: 10px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2px 3px;
  text-decoration: none;
  display: flex;
}

.vectors-wrapper-6 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 5.30453px;
  height: 9px;
  text-decoration: none;
  display: flex;
}

.cardblock {
  flex-flow: row;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-end;
  display: flex;
}

.cardgrid {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.image-7 {
  border-radius: 50%;
  margin-right: 8px;
}

.search {
  margin-top: 30px;
  margin-bottom: 0;
  display: flex;
}

.search.saved-shortlists {
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 20px;
  position: relative;
  left: 0;
  right: 0;
}

.add-button {
  text-align: center;
  object-fit: fill;
  background-color: #4347e7;
  border-radius: 20px;
  width: 120px;
  transition: background-color .2s;
  display: block;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
}

.add-button:hover {
  background-color: #3a3dc7;
  box-shadow: 0 3px 3px rgba(0, 0, 0, .2);
}

.add-button:active {
  opacity: .8;
}

.add-button.submit {
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.table-action-icon {
  width: 22px;
  margin-right: 11px;
}

.table-action-icon:hover {
  opacity: .75;
}

.search-icon {
  opacity: .8;
  width: 16px;
  position: absolute;
  top: auto;
  bottom: auto;
  left: auto;
  right: 12px;
}

.scroll-table-content {
  flex-direction: column;
  display: flex;
  overflow: visible;
}

.togglebutton {
  background-color: #e9e9e9;
  border-radius: 50px;
  justify-content: flex-start;
  align-items: center;
  width: 44px;
  height: 16px;
  text-decoration: none;
  display: flex;
  position: relative;
}

.togglebutton.active {
  background-color: rgba(67, 71, 231, .6);
  justify-content: flex-end;
}

.link-block-10 {
  margin-left: 10px;
}

.div-block-412 {
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.sectionheadercomponent {
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  display: flex;
}

.heading-title {
  margin: auto auto auto 0;
  padding-left: 0;
  padding-right: 0;
  font-weight: 600;
}

.sectionheader {
  width: 100%;
  margin-bottom: 0;
}

.div-block-411 {
  padding-left: 10px;
  padding-right: 20px;
}

.table-action-icon-2 {
  width: 22px;
}

.table-action-icon-2:hover {
  opacity: .75;
}

.table-action-icon-2.x {
  width: 16px;
}

.table-box {
  border: 1px #f9f9f9;
  flex-wrap: wrap;
  align-items: center;
  width: 18%;
  display: flex;
}

.table-box._2 {
  flex-wrap: nowrap;
  width: 18%;
}

.table-box._2.small {
  width: 11%;
}

.table-box._2.action {
  flex-direction: row;
  justify-content: flex-start;
  width: 7%;
  padding-left: 0;
  padding-right: 0;
}

.table-box.action {
  width: 7%;
}

.table-box._11 {
  width: 11%;
}

.table-row-nr {
  font-weight: 500;
}

.table-arrows {
  opacity: .35;
  cursor: pointer;
  width: 15px;
  margin-right: 8px;
}

.table-arrows:hover {
  opacity: .6;
}

.table-arrows._2 {
  transform: rotate(180deg);
}

.buttontoggle {
  z-index: 2;
  background-color: #fff;
  border-radius: 100%;
  width: 22px;
  height: 22px;
  position: relative;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
}

.buttontoggle._2 {
  background-color: #4347e7;
}

.table-wrapper {
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-top: 25px;
  display: flex;
}

.search-input {
  border-radius: 20px;
  width: 300px;
  height: 44px;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
}

.text-span {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(165, 165, 177, .5);
  border-radius: 5px;
  padding: 4px 10px;
  display: inline-block;
}

.table-details-box {
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
  position: relative;
}

.div-block-410 {
  justify-content: center;
  display: flex;
}

.link-block-12 {
  display: block;
}

.table-data {
  color: #4e4e4e;
  font-size: 13px;
}

.table-data.link {
  text-decoration: none;
}

.table-data.name {
  font-weight: 600;
}

.search-button {
  background-color: #da6f21;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 90px;
}

.search-button._2 {
  display: none;
}

.table-row {
  color: #9898a3;
  cursor: pointer;
  border-bottom: 1px solid #dce0ec;
  justify-content: space-between;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  transition: box-shadow .2s;
  display: flex;
}

.table-row:hover {
  color: #4347e7;
  box-shadow: 0 12px 10px rgba(142, 143, 163, .06);
}

.table-row.head {
  cursor: default;
}

.table-row.head:hover {
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0);
}

.table-row.head.hide {
  display: none;
}

.table-heading {
  color: #9898a3;
  text-transform: capitalize;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-weight: 600;
  line-height: 18px;
}

.table-header {
  justify-content: center;
  align-items: center;
  width: 3%;
  display: flex;
}

.table-header._2 {
  border: 1px #ececec;
}

.wrapper-section {
  color: #4e4e4e;
  flex-direction: column;
  align-items: flex-start;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 40px 220px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  display: flex;
}

.line-rounded-icon.dropdown-arrow {
  margin-left: 8px;
}

.grid-1-column {
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.grid-1-column.dropdown-link-column {
  grid-column-gap: 0px;
  grid-row-gap: 18px;
  justify-items: start;
}

.btn-primary {
  color: #fff;
  text-align: center;
  transform-style: preserve-3d;
  background-color: #4a3aff;
  border-radius: 48px;
  justify-content: center;
  padding: 26px 38px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
  transition: background-color .3s, transform .3s, color .3s;
}

.btn-primary:hover {
  color: #fff;
  background-color: #3324d5;
  transform: translate3d(0, -3px, .01px);
}

.btn-primary.small {
  padding: 18px 24px;
  font-size: 16px;
  line-height: 18px;
}

.dropdown-column-wrapper {
  background-color: #fff;
  border: 1px solid #eff0f6;
  border-radius: 20px;
  overflow: hidden;
  transform: translate(-50%);
  box-shadow: 0 2px 12px rgba(20, 20, 43, .08);
}

.header-logo {
  max-width: 240px;
}

.btn-secondary {
  color: #211f54;
  text-align: center;
  transform-style: preserve-3d;
  background-color: #fff;
  border: 1px solid #eff0f6;
  border-radius: 48px;
  padding: 26px 38px;
  line-height: 20px;
  transition: border-color .3s, transform .3s, background-color .3s, color .3s;
  box-shadow: 0 4px 10px rgba(20, 20, 43, .04);
}

.btn-secondary:hover {
  color: #fff;
  background-color: #4a3aff;
  border-color: #4a3aff;
  transform: translate3d(0, -3px, .01px);
}

.btn-secondary.small {
  padding: 18px 24px;
  font-size: 16px;
  line-height: 14px;
}

.header-wrapper {
  background-color: #fff;
  padding-top: 32px;
  padding-bottom: 32px;
}

.hamburger-menu-wrapper {
  padding: 0;
}

.hamburger-menu-wrapper.w--open {
  background-color: rgba(0, 0, 0, 0);
}

.container-default {
  max-width: 1218px;
  padding-left: 24px;
  padding-right: 24px;
}

.header-nav-link {
  padding: 0;
}

.header-nav-link:hover {
  color: #4a3aff;
}

.header-right-side {
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.dropdown-link {
  color: #6e7191;
  width: 100%;
  padding: 0;
  line-height: 20px;
}

.dropdown-link:hover {
  color: #4a3aff;
}

.dropdown-toggle {
  align-items: center;
  padding: 0;
  transition: color .3s;
  display: flex;
}

.dropdown-toggle:hover {
  color: #4a3aff;
}

.dropdown-pd {
  padding: 40px;
  display: block;
}

.header-logo-link {
  transform-style: preserve-3d;
  padding-left: 0;
  transition: transform .3s, color .3s;
}

.header-logo-link:hover {
  transform: scale3d(.96, .96, 1.01);
}

.header-nav-menu-list {
  z-index: 1;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
  display: flex;
}

.header-content-wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.header-nav-list-item {
  margin-bottom: 0;
  padding-left: 32px;
}

.header-nav-list-item.show-in-tablet {
  display: none;
}

.hamburger-menu-bar {
  background-color: #211f54;
  border-radius: 20px;
  width: 52px;
  height: 4px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.popup {
  z-index: 3;
  opacity: .96;
  color: #000;
  background-color: #696868;
  width: 100vw;
  height: 100vh;
  display: none;
  position: fixed;
}

.popupblock {
  background-color: #fff;
  border-radius: 15px;
  width: 600px;
  height: 500px;
  margin: 0 auto auto;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.exitblock {
  cursor: pointer;
  padding: 17px;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: auto;
  right: 0%;
}

.text-block {
  font-size: 20px;
}

.form-block {
  padding: 10px;
}

.from-content {
  grid-row-gap: 10px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 5px;
  text-decoration: none;
  display: flex;
}

.form-label-text {
  grid-row-gap: 1px;
  background-color: rgba(0, 0, 0, 0);
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 15px;
  line-height: 15px;
  text-decoration: none;
  display: flex;
}

.label-text {
  color: #424955;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  text-decoration: none;
}

.quick-stack {
  padding: 0;
}

.vectors-wrapper {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  margin-left: 16px;
  margin-right: 16px;
  text-decoration: none;
  display: block;
}

.text-field {
  color: #000;
  background-color: #f3f4f6;
  border: 1px #000;
  border-radius: 8px;
  padding-top: 6px;
  padding-bottom: 6px;
  text-decoration: none;
  display: block;
}

.easy-text {
  font-size: 15px;
  line-height: 15px;
}

.dropdown-list {
  background-color: #b13232;
}

.dropdown-list.w--open {
  background-color: #fff;
}

.ms-container {
  max-width: 100%;
  padding-bottom: 3%;
  padding-left: 3%;
  padding-right: 3%;
}

.ms-input-wrap {
  padding: 0;
  display: flex;
  position: relative;
}

.ms-input-outer {
  flex-wrap: wrap;
  width: 100%;
  display: flex;
}

.ms-input {
  color: #121331;
  background-color: #fff;
  border: 1px solid rgba(18, 19, 49, .25);
  border-radius: 5px;
  min-height: 40px;
  margin-bottom: 20px;
  padding: 8px 12px;
  transition: box-shadow .2s, border-color .2s;
  position: relative;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, .1);
}

.ms-input:hover {
  z-index: 2;
  box-shadow: none;
  border-color: #2962ff;
}

.ms-input::placeholder {
  color: #909090;
}

.ms-input.bottom {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.ms-input.middle {
  border-radius: 0;
  margin-bottom: -1px;
}

.ms-input.top {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  margin-bottom: -1px;
}

.ms-input.right {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  width: 50%;
}

.ms-input.left {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 50%;
  margin-right: -1px;
}

.ms-column-wrap {
  grid-column-gap: 5%;
  grid-row-gap: 5%;
  flex-wrap: wrap;
  min-height: 50vh;
  padding-bottom: 4vh;
  display: flex;
}

.ms-input-label {
  color: #121331;
  margin-bottom: 5px;
  font-weight: 700;
}

.ms-header {
  padding-top: 6vh;
  padding-bottom: 4vh;
}

.ms-page-wrap {
  z-index: 2;
  background-color: #fff;
  width: 100%;
  line-height: 1.5em;
  position: relative;
  overflow: hidden;
}

.ms-column {
  grid-row-gap: 20px;
  flex-direction: column;
  width: 30%;
  display: flex;
}

.ms-column._50 {
  width: 47%;
}

.ms-column._50.padding {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  background-color: #fff;
  border: 1px solid rgba(18, 19, 49, .25);
  border-radius: 16px;
  width: 100%;
  padding: 10%;
}

.ms-input-middle-row {
  width: 100%;
  display: flex;
}

.profile_field-wrapper {
  width: 65%;
  min-height: 30px;
}

.profile_field-wrapper.has-button {
  justify-content: space-between;
  align-items: center;
  max-width: none;
  display: flex;
}

._100 {
  width: 100%;
}

.profile_section {
  border: .5px solid #d3cccc;
  border-radius: 20px;
  width: 100%;
  margin-bottom: 2rem;
  padding: 1.8rem;
  position: relative;
}

.input-2 {
  color: #000;
  background-color: #fff;
  border: 1px solid #d3cccc;
  border-radius: 6px;
  height: 48px;
  margin-bottom: 0;
  padding-top: 10px;
  padding-left: 18px;
  font-size: 1rem;
  transition: border-color .2s, box-shadow .2s;
  box-shadow: 0 3px 6px -2px rgba(29, 1, 80, .1);
}

.input-2:hover {
  box-shadow: none;
  border-color: #5d52f7;
}

.input-2:focus {
  border: 1px solid #434de7;
}

.input-2::placeholder {
  color: #6e6e6e;
}

.input-preview {
  font-size: 16px;
  font-weight: 400;
}

.modal_form {
  z-index: 2;
  background-color: #fff;
  border: 1px solid #f2f3ff;
  border-radius: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  min-width: 500px;
  margin-bottom: 0;
  padding: 3rem;
  position: relative;
  box-shadow: 0 20px 30px -10px rgba(29, 1, 80, .1);
}

.dash_h1 {
  color: #272b31;
  margin-bottom: 0;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.7em;
}

.profile_flex {
  flex-wrap: wrap;
  max-width: 600px;
  display: flex;
}

.relative {
  position: relative;
}

.spacer-s {
  width: 100%;
  height: 1rem;
}

.profile_section-head {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
}

.modal_close {
  z-index: 1;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: block;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.profile_column {
  width: 50%;
  min-height: 40px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.outline-button {
  color: #4b4f56;
  border: 1px solid #d3cccc;
  border-radius: 50px;
  padding: .4rem 1.3rem;
  line-height: 25px;
  text-decoration: none;
}

.outline-button.edit {
  background-image: linear-gradient(rgba(255, 255, 255, .95), rgba(255, 255, 255, .95));
  transition: background-color .2s;
  position: absolute;
  top: 1rem;
  bottom: auto;
  left: auto;
  right: 1rem;
}

.outline-button.edit:hover {
  color: #0d0d0d;
  background-color: #2962ff;
  border-color: #2962ff;
}

.text-size-small {
  font-size: .875rem;
}

.text-size-small.text-color-grey {
  color: #4b4f56;
}

.modal_close-icon {
  z-index: 10;
  color: #fff;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  top: 25px;
  bottom: auto;
  left: auto;
  right: 25px;
}

.flex-row-outer {
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.profile_h1 {
  margin-bottom: 10px;
  font-size: 1.3rem;
  font-weight: 700;
}

.page-wrapper-2 {
  max-width: 100vw;
  overflow: hidden;
}

.input-label {
  color: #4b4f56;
  margin-bottom: 3px;
  font-size: 13px;
}

.dash_header {
  justify-content: space-between;
  align-items: flex-start;
  height: 80px;
  display: flex;
}

.dash_button {
  color: #fff;
  text-align: center;
  background-color: #2962ff;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  padding: .65rem .975rem .5rem;
  font-size: .9rem;
  font-weight: 500;
  transition: background-color .2s, transform .2s;
}

.dash_button:hover {
  background-color: #342d96;
  transform: translate(0, -4px);
}

.dash_button.is-modal {
  margin-top: 1rem;
}

.dash_icon {
  justify-content: center;
  align-items: center;
  width: 24px;
  min-width: 24px;
  height: 24px;
  min-height: 24px;
  margin-left: -5px;
  margin-right: 6px;
  padding: 3px;
  display: flex;
  overflow: hidden;
}

.dash_icon.edit {
  opacity: .7;
  margin-left: 6px;
  margin-right: -5px;
}

.dash_profile-tabs {
  background-color: #fff;
  border-radius: 32px;
  align-items: stretch;
  padding: 20px;
  display: flex;
}

.input-wrapper {
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-bottom: .5rem;
  display: flex;
  position: relative;
}

.profile_form-header {
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 20px;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.profile_label {
  width: 35%;
  font-size: .9rem;
  font-weight: 700;
  line-height: 1;
}

.profile_label.is-modal {
  width: 100%;
  margin-top: 1.5rem;
  margin-bottom: .5rem;
}

.dash_content-2 {
  background-color: #f6f6f6;
  border-top-left-radius: 32px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 80px;
  margin-left: 200px;
  padding-bottom: 2rem;
  padding-left: 30px;
  overflow: scroll;
}

.dash_modal-3 {
  z-index: 9999;
  background-color: rgba(0, 0, 0, .8);
  justify-content: center;
  align-items: flex-start;
  padding: 10vh 25px;
  position: relative;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  overflow: scroll;
}

.modal_close-2 {
  z-index: 1;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

@media screen and (max-width: 991px) {
  .scroll-table-content {
    overflow: scroll;
  }

  .link-block-10 {
    margin-left: 0;
  }

  .table-box, .table-box._2 {
    justify-content: center;
  }

  .table-box._2.small {
    padding-right: 12px;
  }

  .table-box._2.action {
    justify-content: center;
  }

  .table-header._2 {
    justify-content: flex-start;
  }

  .wrapper-section {
    padding-left: 16px;
    padding-right: 16px;
  }

  .header-nav-menu-wrapper {
    background-color: #fff;
    border-top: 1px solid #eff0f6;
    border-bottom: 1px solid #eff0f6;
    padding: 24px;
  }

  .btn-primary {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .dropdown-column-wrapper {
    box-shadow: none;
    border-width: 0;
    border-radius: 0;
  }

  .dropdown-column-wrapper.w--open {
    position: static;
  }

  .header-wrapper {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .hamburger-menu-wrapper.w--open {
    background-color: rgba(0, 0, 0, 0);
  }

  .dropdown-pd {
    padding: 20px 0 14px;
  }

  .header-nav-menu-list {
    flex-direction: column;
    align-items: flex-start;
  }

  .header-nav-list-item {
    margin-bottom: 12px;
    padding-left: 0;
  }

  .header-nav-list-item.show-in-tablet {
    display: block;
  }

  .hamburger-menu-bar {
    width: 44px;
    height: 3px;
  }

  .hamburger-menu-bar.bottom {
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .ms-column {
    width: 47%;
  }

  .ms-column._50.padding {
    padding: 7%;
  }

  .dash_contain {
    max-width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .table-data-wrapper {
    position: relative;
  }

  .scroll-table-content {
    margin-right: 33px;
  }

  .sectionheadercomponent {
    justify-content: space-between;
  }

  .heading-title {
    margin-bottom: 24px;
  }

  .sectionheader {
    margin-bottom: 0;
  }

  .scroll-container {
    width: 100vw;
    overflow: hidden;
  }

  .table-container {
    position: relative;
    overflow: hidden;
  }

  .table-box.action {
    width: 48px;
  }

  .table-wrapper {
    overflow: hidden;
  }

  .table-row {
    width: 740px;
  }

  .table-row.head {
    width: 650px;
    display: none;
  }

  .table-row.head.hide {
    width: 740px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
  }

  .wrapper-section {
    padding-top: 40px;
  }

  .btn-primary {
    padding: 20px 32px;
  }

  .btn-primary.small {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .header-logo {
    max-width: 220px;
  }

  .btn-secondary {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .btn-secondary.small {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .ms-column, .ms-column._50 {
    width: 100%;
  }

  .ms-column._50.padding {
    padding: 3%;
  }

  .profile_field-wrapper.has-button {
    grid-row-gap: 1rem;
    flex-direction: column;
  }

  .modal_form {
    min-width: auto;
  }

  .dash_h1 {
    margin-top: .3rem;
    font-size: 1.4rem;
  }

  .dash_header {
    height: 70px;
  }

  .dash_content-2 {
    margin-left: 0;
    margin-right: 10px;
    padding-top: 14px;
    padding-left: 10px;
  }
}

@media screen and (max-width: 479px) {
  .search {
    width: 100%;
  }

  .search.saved-shortlists {
    width: 100%;
    max-width: 380px;
    margin-bottom: 20px;
    margin-right: 0;
  }

  .scroll-table-content {
    margin-right: 30px;
  }

  .div-block-412 {
    margin-bottom: 15px;
  }

  .sectionheadercomponent {
    flex-wrap: wrap;
  }

  .sectionheader {
    margin-bottom: 20px;
  }

  .search-input {
    width: 100%;
  }

  .table-details-box {
    flex-wrap: wrap;
  }

  .btn-primary {
    width: 100%;
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .header-logo {
    max-width: 170px;
  }

  .btn-secondary {
    width: 100%;
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .container-default {
    padding-left: 20px;
    padding-right: 20px;
  }

  .header-nav-list-item {
    text-align: left;
    width: 100%;
  }

  .header-nav-list-item.show-in-tablet {
    justify-content: flex-start;
    width: 100%;
    display: flex;
  }

  .ms-column-wrap {
    flex-direction: column;
  }

  .ms-column._50 {
    width: 100%;
  }

  .dash_button {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }
}

#w-node-_67b29728-9b8e-1bed-e62a-9901261d4ed0-50a515df {
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 1fr 1fr;
}
